@page "/pokedex"

@inject IPokeApiClient PokeApiClient 

<h3>Pokedex</h3>

<PokemonGrid Pokemons="Pokemons" NumberOfRows="5" />

@code {

    public IEnumerable<Pokemon> Pokemons { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Pokemons = await PokeApiClient.GetAllPokemons();
    }


}
